$white: #ffffff;
$white-shade-1: #eeeeee;
$white-shade-2: #dedede;
$white-shade-3: #e5f2ff;

$black: #000000;
$black-shade-1: #1d1f22;
$black-shade-2: #454646;
$black-shade-3: #ff000000;
$black-shade-4: #353535;
$black-shade-5: #333;

$red: #ff0000;
$red-shade-1: #a32023;
$red-shade-2: #ee584a;
$red-shade-3: #e42726;
$red-shade-4: #e42425;
$red-shade-5: #eb2327;

$mustard: #f29339;
$mustard-shade-1: #dcaa4b;
$mustard-shade-2: #f6a41d;
$mustard-shade-3: #f2a91e;

$grey: #808080;
$grey-shade-1: #b6b6bb;
$grey-shade-2: #414e59;
$grey-shade-3: #5d6a79;
$grey-shade-4: #33383e;
$grey-shade-5: #b9b3b3;
$grey-shade-6: #858181;
$grey-shade-7: #545555;

$blue: #0088ff;
$blue-shade-1: #0c80b8;
$blue-shade-2: #add8e6;
$blue-shade-3: #0b2b58cc;
$blue-shade-4: #ebeef5;

$brown: #7e6352;

$coral: #f08080;

$pink: #b14e95;

$emerald: #20aa99;
